<main class="main_users_create">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <div *ngIf="isError" id="alertError" class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': isAlert, 'alert-danger': !isAlert}" >
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertError()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="row justify-content-center my-3">
          <div class="col-12">
            <h2 class="text-center">Crear usuario</h2>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-12">
            <button class="btn btn-dark" (click)="goBack()">Regresar</button>
          </div>
        </div>
        <hr>

        <div *ngIf="user">
          <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="form-row">

              <div class="col-md-12 mb-3">

                <label for="email">Email</label>

                <input type="email" [ngClass]="{'is-invalid': validationEmail.touched && !validationEmail.valid, 'is-valid': validationEmail.touched && validationEmail.valid}" class="form-control" name="email" #validationEmail="ngModel" placeholder="Email" [(ngModel)]="user.email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >

                <div class="invalid-feedback" *ngIf="validationEmail.touched && !validationEmail.valid">
                  <div *ngIf="validationEmail.errors.required">Por favor, introduzca un Email</div>
                  <div *ngIf="validationEmail.errors.pattern">El Email no es correcto, Ejemplo: name@company.com</div>
                </div>

              </div>

              <div class="col-md-12 mb-3">

                <label for="password">Password</label>

                <div class="input-group">
                  <input type="{{type}}" [ngClass]="{'is-invalid': validationPassword.touched && !validationPassword.valid, 'is-valid': validationPassword.touched && validationPassword.valid}" class="form-control" name="password" #validationPassword="ngModel" placeholder="Password" [(ngModel)]="user.password" required minlength="4" maxlength="25" pattern="(?=[#$-/:-?{-~!'^_`\[\]a-zA-Z]*([0-9#$-/:-?{-~!'^_`\[\]]))(?=[#$-/:-?{-~!'^_`\[\]a-zA-Z0-9]*[a-zA-Z])[#$-/:-?{-~!'^_`\[\]a-zA-Z0-9]{4,}">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary show-password" type="button" (click)="toggleShow()"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                  </div>
                  <div class="invalid-feedback" *ngIf="validationPassword.touched && !validationPassword.valid">
                    <div *ngIf="validationPassword.errors.required">Por favor, introduzca un Password</div>
                    <div *ngIf="validationPassword.errors.minlength">El password debe contener minimo 4 caracteres</div>
                    <div *ngIf="validationPassword.errors.maxlength">El password debe contener maximo 25 caracteres</div>
                    <div *ngIf="validationPassword.errors.pattern">El password no es correcto, debe contener letras y numeros o caracteres especiales Ejemplo: 1234f / 1Pass / pass*#</div>
                  </div>
                </div>

              </div>
              
              <div class="col-md-12 mb-3">

                <label for="tipo">Rol</label>
                <select [ngClass]="{'is-invalid': validationTipo.touched && !validationTipo.valid, 'is-valid': validationTipo.touched && validationTipo.valid}" name="tipo" #validationTipo="ngModel" [(ngModel)]="tipo" class="form-control" required>
                  <option *ngFor="let rol of roles" [value]="rol._id"> {{rol.name}}</option>
                </select>

                <div class="invalid-feedback" *ngIf="validationTipo.touched && !validationTipo.valid">
                  <div *ngIf="validationTipo.errors.required">Por favor, introduzca un Rol</div>
                </div>

              </div>

              <div class="col-md-12 mb-3">

                <label for="description">Descripción</label>

                <input type="text" [ngClass]="{'is-invalid': validationDescription.touched && !validationDescription.valid, 'is-valid': validationDescription.touched && validationDescription.valid}" class="form-control" name="description" #validationDescription="ngModel" placeholder="Descripción" [(ngModel)]="user.description">

                <div class="invalid-feedback" *ngIf="validationDescription.touched && !validationDescription.valid">
                  <div *ngIf="validationDescription.errors.required">Por favor, introduzca un Descripción completo</div>
                </div>

              </div>
              
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Registrar</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>