<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
></ngx-spinner>

<main class="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
        
        <div *ngIf="isError" id="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{messageError}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertError()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <h1 *ngIf="!isError">Iniciar Sesión</h1>
        <hr>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-row">

            <div class="col-md-12 mb-3">

              <label for="email">Email</label>
              
              <input type="text" [ngClass]="{'is-invalid': validationEmail.touched && !validationEmail.valid, 'is-valid': validationEmail.touched && validationEmail.valid}" class="form-control" name="email" #validationEmail="ngModel" placeholder="Email" [(ngModel)]="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >
              

              <div class="invalid-feedback" *ngIf="validationEmail.touched && !validationEmail.valid">
                <div *ngIf="validationEmail.errors.required">Por favor, introduzca un Email</div>
                <div *ngIf="validationEmail.errors.pattern">El Email no es correcto, Ejemplo: name@company.com</div>
              </div>

            </div>

            <div class="col-md-12 mb-3">

              <label for="password">Password</label>
              <div class="input-group">
                <input type="{{type}}" [ngClass]="{'is-invalid': validationPassword.touched && !validationPassword.valid, 'is-valid': validationPassword.touched && validationPassword.valid}" class="form-control" name="password" #validationPassword="ngModel" placeholder="Password" [(ngModel)]="password" required minlength="4" maxlength="25">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary show-password" type="button" (click)="toggleShow()"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                </div>

                <div class="invalid-feedback" *ngIf="validationPassword.touched && !validationPassword.valid">
                  <div *ngIf="validationPassword.errors.required">Por favor, introduzca un Password</div>
                  <div *ngIf="validationPassword.errors.minlength">El password debe contener minimo 4 caracteres</div>
                  <div *ngIf="validationPassword.errors.maxlength">El password debe contener maximo 25 caracteres</div>
                  <div *ngIf="validationPassword.errors.pattern">El password no es correcto</div>
                </div>
              </div>

            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Entrar</button>
            <button type="reset" class="btn btn-secondary">Cancelar</button>

          </div>
        </form>
        <hr>
        <a [routerLink]="['/register']">¿No tienes una cuenta?</a>
        
      </div>
    </div>
  </div>
</main>