<main class="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-12">
        <div class="jumbotron">
          <h1>Ya casi terminas</h1>
          <p class="lead">¿Que tipo de usuario quieres ser?</p>
          <a class="btn btn-primary" [routerLink]="['/registerN/',resID]" role="button">Natural</a>
          <a class="btn btn-primary" [routerLink]="['/registerJ/',resID]" role="button">Jurídica</a>
        </div>
      </div>
    </div>
  </div>
</main>