<main class="main_rutas">
	<div class="container">

		<div *ngIf="isError" id="alertError" class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': isAlert, 'alert-danger': !isAlert}" >
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertError()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="row justify-content-center my-3">
			<div class="col-12">
				<h2 class="text-center">Rutas</h2>
				<h6 class="text-center">{{ total }} Rutas</h6>
			</div>
		</div>

		<div class="row justify-content-center my-3">
			<div class="col-12">
				<button class="btn btn-dark" (click)="goBack()">Regresar</button>
				<button [routerLink]="['/rutas/create']" class="btn btn-primary">Nuevo</button>
				<span *ngIf="total>0">
					<!--<a href="#delete-rutas" class="btn btn-danger" data-toggle="modal">Eliminar Todos</a>-->
					<div class="modal fade" id="delete-rutas" tabindex="-1" role="dialog" aria-labelledby="deleterutas" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleterutas">Confirmación</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									¿Estas seguro de eliminar este usuario?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
									<button (click)="deleterutas()" type="button" class="btn btn-primary">Si</button>
								</div>
							</div>
						</div>
					</div>
				</span>
			</div>
		</div>

		<hr>
		
		<div *ngIf="rutas">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div *ngIf="rutas">
						<div *ngIf="total>0">
							
							<div class="form-group">
								<input type="text" class="form-control" id="filterRutas" name="filterRutas" [(ngModel)]="filterRutas" placeholder="Buscar...">
							</div>

							<div class="table-responsive">
								<table class="table">
									<thead class="thead-dark">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">Descripción</th>
											<th scope="col">Editar</th>
											<th scope="col">Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let ruta of rutas | paginate: { itemsPerPage: 10, currentPage: page} | buscarRutas:filterRutas">
											<th scope="row">
												<button class="btn btn-dark" [routerLink]="['/rutas/show', ruta._id]">Ver</button>
											</th>
											<td>{{ruta.name}}</td>
											<td>{{ruta.description}}</td>
											<td><button [routerLink]="['/rutas/edit', ruta._id]" class="btn btn-info">Editar</button></td>
											<td><a href="#delete-ruta-{{ruta._id}}" class="btn btn-danger" data-toggle="modal">Eliminar</a></td>
											<div class="modal fade" id="delete-ruta-{{ruta._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															¿Estas seguro de eliminar esta Ruta?
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
															<button (click)="delete(ruta._id)" type="button" class="btn btn-primary">Si</button>
														</div>
													</div>
												</div>
											</div>
										</tr>
									</tbody>
								</table>
							</div>
							<pagination-controls (pageChange)="page = $event"></pagination-controls>
						</div>
					</div>

					<div *ngIf="!rutas">
						<div class="text-center">
							<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div *ngIf="!rutas && !failedConect">
			<div class="text-center">
		  		<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
		    		<span class="sr-only">Loading...</span>
		  		</div>
			</div>
		</div>
		<div *ngIf="failedConect">
			<h6 class="text-center">{{failedConect}}</h6>
		</div>

	</div>
</main>