@import url("../font-awesome/css/font-awesome.css");

body,html{
	background: #f5f8fa;
}

.main {
    padding: 6em 0 4em 0;
    min-height: 100vh;
}
.main_register,.main_registerN,.main_registerJ,.main_edit_user,.main_edit_persona,.main_edit_empresa,.main_timeline,.main_users,.main_users_create,.main_users_show,.main_users_edit,.main_rutas,.main_categorias,.main_categorias_create,.main_categorias_show,.main_categorias_edit,.main_rutas,.main_rutas_create,.main_rutas_show,.main_rutas_edit,.main_publications,.main_publication_user,.main_publications_show,.main_publications_create,.main_publications_edit{
	padding: 3em 0;
	min-height: 100vh;
}
.main_perfil,.main_perfil_follow{
	min-height: 100vh;	
}
.main_perfil .container-fluid,.main_perfil .col-12,.main_perfil_follow .container-fluid,.main_perfil_follow .col-12{
	padding-left: 0;
	padding-right: 0;
}
.main_perfil .row,.main_perfil_follow .row{
	margin-right: 0;
    margin-left: 0;
}
footer{
	color: #FFFFFF;
	background: #343a40 !important;
}

footer p{
	padding: 1.5em;
	margin: 0;
}
a,a:hover{
	text-decoration: none;
}
a.btn, button.btn{
	margin-right: 1em;
}
header .navbar{

}
.img_profiel {
    height: 50px !important;
    width: 50px !important;
    margin: 5px !important;
    border: 2px solid hsla(0,0%,100%,.8) !important;
    border-radius: 50%;
}

.img_profiel_media {
    height: 50px !important;
    width: 50px !important;
    border: 2px solid hsla(0,0%,100%,.8) !important;
    border-radius: 50%;
}

.dropdown-toggle::after{
	content: none;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
    margin-top: 7px !important;
}
.dropdown-menu a:hover,.dropdown-menu a:focus,.dropdown-menu a:active,.dropdown-menu a:visited{
	background-color: #E6E6E6;
	color: #212529;
}
i{
	margin-right: 5px;
}

.box_flot {
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0 7px 12px rgba(0,0,0,0.45);
}

.pz {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    min-height: 100vh;
}
.afl {
    margin-bottom: 1.5rem !important;
}

.bpi .qf {
    height: 250px;
    background-size: cover;
}

.qf {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
 }

 .avz {
    text-align: center !important;
}

.qa {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.bpj {
    width: 200px;
    height: 200px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.bpi .qb {
    margin-bottom: 5px;
}
.bpk {
    list-style: none;
    padding: 0;
}
.bpl {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}
.bpl:last-child {
    border-right: 0;
}

.black-overlay{
	position: fixed !important;
}

.show-password{
    margin-right: 0 !important;
}

.custom-file-label::after{
    content: "Buscar" !important;
    overflow: hidden !important;
}

.custom-file-label{
    overflow: hidden !important;
}
.input-group{
    margin:1rem 0;
}

.display-4{
    font-size: 2rem;
}

.main_publication_user .card,.main_publications .card,.main_publications_show .card{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.main_publication_user .card:hover,.main_publications .card:hover{
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.1), 0 5px 30px 0 rgba(0,0,0,.3) !important;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.1), 0 5px 30px 0 rgba(0,0,0,.3) !important;
    border: 0;
    font-weight: 400;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.main_publication_user .view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.card-img-top {
    position: relative;
    display: block;
    max-height: 300px;
    height: 300px;
    width: 100%;
}
.main_publication_user .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.main_publication_user .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
.main_publication_user .card.booking-card .rating {
    font-size: .7rem;
}
.main_publication_user .rating {
    color: #ffa000;
    list-style-type: none;
    padding: 0;
}
.main_publication_user .chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    line-height: 32px;
    padding: 0 12px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #007bff;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.main_perfil button.btn{
    margin: .5rem;
}

.main_publications_show .dropdown-menu {
    /*left: 0 !important;*/
}
.mb-3{
    margin-bottom: 2rem !important;
}

.qa.avz .input-group-append > button{
    margin: 0;
}
#showPublication{
    width: 100%;
    height: 100%;
}

.button-comentarios .close{
    float: none;
}
.button-comentarios{
    margin-bottom: 0 !important;
}
.media-body-coment{
    overflow: auto;
}
.ocultarUpdateFormComent{
    display: none;
}

a.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.enlacePointer{
    cursor: pointer;
    text-decoration: none;
    color: #007bff !important;
}

.enlacePointer:hover,.enlacePointer:focus,.enlacePointer:active{
    color: #0056b3 !important;
}
.enlacePointerBadge{
    color: #ffffff !important;
}
.enlacePointerBadge:hover{
    color: #D8D8D8 !important;
}
.media-coments .col-2,.media-coments .col-sm-2, .media-coments .col-md-2,.media-coments .col-lg-2{
    padding-right: 0;
    padding-left: 0;
}
.fondoComentarios{
    background: #fff;
    border-radius: 20px;
    padding: 1em;
}
.button-comentarios{
    margin: 5px;
}
.button-comentarios button:focus{
    outline: none;
    outline-color: none;
}

.btn-coment-update{
    margin: 5px 5px 5px 0px !important;
}
.button-comentarios i{
    font-size: .8em;

}