<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
></ngx-spinner>

<main class="main_registerN">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <div *ngIf="isError" id="alertError" class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': isAlert, 'alert-danger': !isAlert}" >
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertError()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <h2 *ngIf="!isError" class="text-center mb-3">Persona Natural</h2>

        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-row">
            
            <div class="col-md-12 mb-3">

              <label for="name">Nombre</label>

              <input type="text" [ngClass]="{'is-invalid': validationName.touched && !validationName.valid, 'is-valid': validationName.touched && validationName.valid}" class="form-control" name="name" #validationName="ngModel" placeholder="Nombre" [(ngModel)]="name" required>

              <div class="invalid-feedback" *ngIf="validationName.touched && !validationName.valid">
                <div *ngIf="validationName.errors.required">Por favor, introduzca un Nombre completo</div>
              </div>

            </div>
            
            <div class="col-md-12 mb-3">

              <label for="cedula">Cedula</label>

              <input type="text" [ngClass]="{'is-invalid': validationCedula.touched && !validationCedula.valid, 'is-valid': validationCedula.touched && validationCedula.valid}" class="form-control" name="cedula" #validationCedula="ngModel" placeholder="Cedula" [(ngModel)]="cedula" required maxlength="9" pattern="^([VEve]{1})([0-9]{7,9})$">

              <div class="invalid-feedback" *ngIf="validationCedula.touched && !validationCedula.valid">
                
                <div *ngIf="validationCedula.errors.required">Por favor, introduzca una Cedula</div>
                <div *ngIf="validationCedula.errors.maxlength">La cedula debe contener maximo 9 caracteres</div>
                <div *ngIf="validationCedula.errors.pattern">La cedula no es correcta, Ejemplo: V12345678 ó E1234567</div>

              </div>

            </div>

            <div class="col-md-12 mb-3">

              <label for="fechaNacimiento">Fecha de Nacimiento</label>

              <input type="date" [ngClass]="{'is-invalid': validationFechaNacimiento.touched && !validationFechaNacimiento.valid, 'is-valid': validationFechaNacimiento.touched && validationFechaNacimiento.valid}" class="form-control" name="fechaNacimiento" #validationFechaNacimiento="ngModel" [(ngModel)]="fechaNacimiento" [max]=" fechaActual " required>

              <div class="invalid-feedback" *ngIf="validationFechaNacimiento.touched && !validationFechaNacimiento.valid">
                <div *ngIf="validationFechaNacimiento.errors.required">Por favor, introduzca una Fecha valida</div>
              </div>

            </div>

            <div class="col-md-12 mb-3">

              <label for="telefono">Teléfono</label>

              <input type="text" [ngClass]="{'is-invalid': validationTelefono.touched && !validationTelefono.valid, 'is-valid': validationTelefono.touched && validationTelefono.valid}" class="form-control" name="telefono" #validationTelefono="ngModel" placeholder="Teléfono" [(ngModel)]="telefono" required pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">

              <div class="invalid-feedback" *ngIf="validationTelefono.touched && !validationTelefono.valid">
                <div *ngIf="validationTelefono.errors.required">Por favor, introduzca un Teléfono</div>
                <div *ngIf="validationTelefono.errors.pattern">El telefono no es correcto, Ejemplo: +581234567890</div>
                

              </div>

            </div>


            <div class="col-md-12 mb-3">

              <label for="direccion">Dirección</label>

              <input type="text" [ngClass]="{'is-invalid': validationDireccion.touched && !validationDireccion.valid, 'is-valid': validationDireccion.touched && validationDireccion.valid}" class="form-control" name="direccion" #validationDireccion="ngModel" placeholder="Dirección" [(ngModel)]="direccion" required>

              <div class="invalid-feedback" *ngIf="validationDireccion.touched && !validationDireccion.valid">
                <div *ngIf="validationDireccion.errors.required">Por favor, introduzca una Dirección</div>
              </div>

            </div>

            <div class="col-md-12 mb-3">
              <label for="estado">Estado</label>
              <select [ngClass]="{'is-invalid': validationEstado.touched && !validationEstado.valid, 'is-valid': validationEstado.touched && validationEstado.valid}" name="estado" #validationEstado="ngModel" [(ngModel)]="categoriaSelected" class="form-control" required>
                <option *ngFor="let categoria of categoria" [value]="categoria._id"> {{categoria.name}}</option>
              </select>
              
              <div class="invalid-feedback" *ngIf="validationEstado.touched && !validationEstado.valid">
                <div *ngIf="validationEstado.errors.required">Por favor, introduzca un Estado</div>
              </div>

            </div>


            <div class="col-md-12 mb-3">
              <label for="sexo">Sexo</label>
              <div class="form-check custom-control custom-checkbox">
                <input class="form-check-input" type="radio" name="sexo" #validationSexoM="ngModel" [(ngModel)]="sexo" value="M" required [ngClass]="{'is-invalid': validationSexoM.touched && !validationSexoM.valid, 'is-valid': validationSexoM.valid}">
                <label class="form-check-label" for="SexoM">
                  Masculino
                </label>
                <div class="invalid-feedback" *ngIf="validationSexoM.touched && !validationSexoM.valid">
                  <div *ngIf="validationSexoM.errors.required">Por favor, introduzca un Sexo</div>
                </div>
              </div>
              <div class="form-check custom-control custom-checkbox">
                <input class="form-check-input" type="radio" name="sexo" #validationSexoF="ngModel" [(ngModel)]="sexo" value="F" required [ngClass]="{'is-invalid': validationSexoF.touched && !validationSexoF.valid, 'is-valid': validationSexoF.valid}">
                <label class="form-check-label" for="SexoF">
                  Femenino
                </label>
                <div class="invalid-feedback" *ngIf="validationSexoF.touched && !validationSexoF.valid">
                  <div *ngIf="validationSexoF.errors.required">Por favor, introduzca un Sexo</div>
                </div>
              </div>
              
              

            </div>

            <div class="col-md-12 mb-3">
              <label for="edoCivil">Edo civil</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="edoCivil" #validationEdocivilS="ngModel" [(ngModel)]="edoCivil" value="S" required [ngClass]="{'is-invalid': validationEdocivilS.touched && !validationEdocivilS.valid, 'is-valid': validationEdocivilS.valid}">
                <label class="form-check-label" for="">
                  Soltero
                </label>
                <div class="invalid-feedback" *ngIf="validationEdocivilS.touched && !validationEdocivilS.valid">
                  <div *ngIf="validationEdocivilS.errors.required">Por favor, introduzca un Edo civil</div>
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="edoCivil" #validationEdocivilC="ngModel" [(ngModel)]="edoCivil" value="C" required [ngClass]="{'is-invalid': validationEdocivilC.touched && !validationEdocivilC.valid, 'is-valid': validationEdocivilC.valid}">
                <label class="form-check-label" for="">
                  Casado
                </label>
                <div class="invalid-feedback" *ngIf="validationEdocivilC.touched && !validationEdocivilC.valid">
                  <div *ngIf="validationEdocivilC.errors.required">Por favor, introduzca un Edo civil</div>
                </div>
              </div>
            </div>

          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Registrate</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
          <a class="btn btn-dark" [routerLink]="['/register/',resID]" role="button">Regresar</a>

        </form>
      </div>
    </div>
  </div>
</main>