<main class="main_edit_empresa">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6">

				<div *ngIf="isError" id="alertError" class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': isAlert, 'alert-danger': !isAlert}" >
					{{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertError()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div *ngIf="empresa">
					<div class="col-12">
						<h2 class="text-center">Actualice sus datos</h2>
					</div>
					<div class="row justify-content-center my-3">
						<div class="col-12">
							<button class="btn btn-dark" [routerLink]="['/perfil/',resID]">Regresar</button>
						</div>
					</div>
					<hr>

					<form #updateForm="ngForm" (ngSubmit)="update(updateForm)">

						<div class="form-row">

							<div class="col-md-12 mb-3">

								<label for="name">Nombre</label>

								<input type="text" [ngClass]="{'is-invalid': validationName.touched && !validationName.valid, 'is-valid': validationName.touched && validationName.valid}" class="form-control" name="name" #validationName="ngModel" placeholder="Nombre" [(ngModel)]="empresa.name" required>

								<div class="invalid-feedback" *ngIf="validationName.touched && !validationName.valid">
									<div *ngIf="validationName.errors.required">Por favor, introduzca un Nombre completo</div>
								</div>

							</div>


							<div class="col-md-12 mb-3">

								<label for="telefono">Teléfono</label>

								<input type="text" [ngClass]="{'is-invalid': validationTelefono.touched && !validationTelefono.valid, 'is-valid': validationTelefono.touched && validationTelefono.valid}" class="form-control" name="telefono" #validationTelefono="ngModel" placeholder="Teléfono" [(ngModel)]="empresa.telefono" required pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">

								<div class="invalid-feedback" *ngIf="validationTelefono.touched && !validationTelefono.valid">
									<div *ngIf="validationTelefono.errors.required">Por favor, introduzca un Teléfono</div>
									<div *ngIf="validationTelefono.errors.pattern">El telefono no es correcto, Ejemplo: +581234567890</div>

								</div>

							</div>


							<div class="col-md-12 mb-3">

								<label for="direccion">Dirección</label>

								<input type="text" [ngClass]="{'is-invalid': validationDireccion.touched && !validationDireccion.valid, 'is-valid': validationDireccion.touched && validationDireccion.valid}" class="form-control" name="direccion" #validationDireccion="ngModel" placeholder="Dirección" [(ngModel)]="empresa.direccion" required>

								<div class="invalid-feedback" *ngIf="validationDireccion.touched && !validationDireccion.valid">
									<div *ngIf="validationDireccion.errors.required">Por favor, introduzca una Dirección</div>
								</div>

							</div>

							<div class="col-md-12 mb-3">
								<label for="estado">Estado</label>
								<select [ngClass]="{'is-invalid': validationEstado.touched && !validationEstado.valid, 'is-valid': validationEstado.touched && validationEstado.valid}" name="estado" #validationEstado="ngModel" [(ngModel)]="empresa.estado" class="form-control" required>
									<option *ngFor="let categoria of categoria" [value]="categoria._id"> {{categoria.name}}</option>
								</select>

								<div class="invalid-feedback" *ngIf="validationEstado.touched && !validationEstado.valid">
									<div *ngIf="validationEstado.errors.required">Por favor, introduzca un Estado</div>
								</div>

							</div>

						</div>

						<button type="submit" class="btn btn-primary" [disabled]="!updateForm.form.valid">Actualizar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>